.button-button-display{
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
}
button.button1{
  width: 250px;
}
button.button2{
  width: 250px;
}
.create-review-notes{
    /* border: 1px solid green; */
    height: 37em;
    /* background: gray; */
    padding: 0px;
    background: #EAF0F6;
}
