.reviewsContainer{
  margin: auto;
  max-width: 100%;
  display: flex;
   justify-content: space-between;
  /* border: 1px solid red; */
}
.bookPage{
    border: 3px solid white;
    background-color: white;
    min-width: 45%;
   max-width: 45%;

}
.the-two-buttons{
    border: 1px solid #E8E8E8;
    min-width: 45%;
    max-width: 45%;
}
.image-inside-buttons{
  margin-top: 50px;
  text-align: center;
}
.the-two-buttons-alone{
  text-align: center;
}
.middle-horizontal{
  text-align: center;
}
.top-horizontal{
    text-align: center;
}
.bottom-horizontal{
  text-align: center;
}
