.shelfDiv{
   height: 100%;
}
.shelfContainer{
max-width: 100%;
}
.Book{
  height: 88px;
   width: 65px;
   color: white;
   font-size: 0.65em;
   font-family: Verdana, sans-serif;
   margin-bottom: 10px;
   margin-top: 10px;
   border: 1px solid green;
}


.bookShelf{
  border-radius: 25px;
  border: 12px #a87328 solid;
  height: 448px;
  margin: 0 auto;
  background-image: linear-gradient(
   #241909,
   #2c1e0b 98px,
   #986824 98px
  );
 background-size: 10px 106px;

}
li{
  border-bottom: 1px solid red;
}
ul{
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-around;
  background-image: url();
 flex-wrap: wrap;
}

h1{
  text-align: center;
}



.deleteBook {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: -40px;
  height:15px;

  font-weight: bold;
  color: white;
  background-color: transparent;

  border: none;
}

.deleteBook:hover {
  background-color: white;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

a{
  color: white;
}

li.Book{
  background-color: green;
}
li:nth-child(2n+0) {
  background: BlueViolet;
}
li:nth-child(3n+0) {
  background: FireBrick;
}
li:nth-child(4n+0) {
  background: DarkBlue;
}
li:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
